.carousel-pos{
  padding: 50px 50px 50px 50px;
  
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 500px;
    line-height: 160px;
    background-image: url("../../images/bg-img.jpg");
    background-size: cover;
  }

  .ant-carousel .slick-slide .slide1 img {
    height: auto;
    width: 8%;
    display: block;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 5%;
}

.ant-carousel .slick-slide .image-content{
  background-color: rgba(0,0,0, 0.1);
  box-shadow: 5px 10px;
  color: black;
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 46%;
  transform: translate(-30%, -30%);
  z-index: 2;
  height: 53%;
  width: 50%;
  padding: 20px;
  text-align: center;
}

  .ant-carousel .slick-slide .slide1 .slide-image {
    text-align: center;
    position: relative;
  }

  @media (max-width: 767px) {

    .ant-carousel .slick-slide .slide1 img {
      height: auto;
      width: 16%;
      display: block;
      margin-left: 42%;
      margin-right: auto;
      margin-top: 5%;
  }


  .ant-carousel .slick-slide .image-content{
    background: rgba(255,255,255,0.5);
    box-shadow: 5px 10px;
    color: black;
    font-weight: bold;
    position: absolute;
    top: 71%;
    left: 35%;
    transform: translate(-30%, -30%);
    z-index: 2;
    height: 35%;
    width: 76%;
    padding: 20px;
    text-align: center
  }
  }

  @media(max-width: 572px) {
    .ant-carousel .slick-slide .slide1 img {
      height: auto;
      width: 25%;
      display: block;
      margin-left: 42%;
      margin-right: auto;
      margin-top: 5%;
  }
  }
 